<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225667019219-sfpa4omqkkgek01uau2drd5no0a0ogvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225667019219-sfpa4omqkkgek01uau2drd5no0a0ogvr</string>
	<key>API_KEY</key>
	<string>AIzaSyD1yyMiiGrhhgfEAcBpRrhrZq0qNHKQvM8</string>
	<key>GCM_SENDER_ID</key>
	<string>225667019219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.famousplaces3</string>
	<key>PROJECT_ID</key>
	<string>famousplaces3firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>famousplaces3firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225667019219:ios:702e6443daf7d25ee2ff26</string>
</dict>
</plist>